@import "tailwindcss";

:root {
  --background: #ffff;
  --margin-top-sm: 20px;
  --margin-top-md: 40px;
  --margin-top-lg: 80px;
  --margin-top-xl: 140px;
  --margin-bottom-sm: 20px;
  --margin-bottom-md: 40px;
  --margin-bottom-lg: 80px;
  --margin-bottom-xl: 140px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-quicksand);
  --color-primary: #34464d;
  --color-accent: #69918d;
  --color-secondary: #52494c;
  --color-highlight: #f0d3d5;
  --color-muted: #f0d3d5;
  --color-muted-dark: #525b60;
  --color-text-main: #717477;
  --color-text-subtle: #939291;
}

body {
  background: var(--background);
  font-family: var(--font-quicksand);
  margin: 0 140px;
}

h1,
h2,
h3 {
  color: var(--color-text-main);
}
